body, html{
  font-family: 'Source Sans Pro', sans-serif;  
}
.widget{
	background:#2C2D37;
  position: relative;  
  box-shadow: 0 6px 10px 0 rgba(26,27,36,0.6);
  max-width: 900px;
  margin: 0 auto;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #295748;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -4px;
  bottom: -4px;
  background-color: #24D17A;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #274B67;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color:#1F89DC;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.clearfix{
	float: none;
	clear: both;
}

.toggle_btn_wrapper{
	float: right;
	display: flex;
	align-items: center;	
	padding-right: 20px;
}

.pull-right{
  float: right;
}
.toggle_btn_wrapper label{
	margin: 10px 15px;
}

.toggle_btn_wrapper span{
  font-size: 14px;
}
.widget{
	border-radius: 10px;
	padding:20px;
	color: #808187;
}

#period_date{
	margin-left: 15px;
}

.hide{
    display: none;
}

path{
	fill: none;
}

path.line{
  stroke-width: 2px;
}
rect{
  fill: #353642;
}

.light rect{
    fill: #E7E7E9;
}
.axis path{
  stroke:#3E3F49;
}
.axis text, .axis line{
  stroke: #72737A;
}

#period_span{
  color: #FBFBFB;
  font-weight: bold;
}

#sentiment_span.active{
  color: #24D17A;
}

#tweet_span.active{
  color:#1F88DA;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background-color: #21222d;
    border-radius: 8px;    
    border: 0 none;    
    box-shadow: -3px 3px 15px rgba(0,0,0,0.5);
    color: black;
    font: 15px sans-serif;
    padding: 10px;
    text-align: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
}

.toolTip td{
  vertical-align: top;
  padding: 5px 15px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  line-height: 14px;
}

td img, td div{
  margin-right: 5px;
}

.tooltip-label{
  color: rgba(255,255,255,.4);
}

td{
  color: rgb(255,255,255);
}

.dash_circle{
    stroke-dasharray: 2px;
    stroke-width: 1px;
    stroke: beige;
}

.light .dash_circle{
  stroke: #190430;
}
.dash_line{
    stroke-dasharray: 4px;
    stroke-width: 1px;
    stroke: beige; 
    opacity: .5;
}

.light .dash_line{
  stroke: #190430;
}
.circle_tooltip{
  position: absolute;
  right: 0;
  top: 10px;
}
.circle_tooltip text{
  fill: beige;
  opacity: .8;
  font-size: 10px;
  line-height: 13px;
  font-family: "Source Sans Pro";
}

.light .circle_tooltip circle{
  color: #190430;
}
.light .circle_tooltip text{
  fill:#190430;
}
.path_rect{
  fill:#353541;
}

.light .path_rect{
    fill: #E7E7E9;
}
.light rect.hover_rect,rect.hover_rect{
  fill:#5243DE;
}

.font_bold{
  font-weight: 600;
}

.font_light{
  font-weight: normal;
}
.circle_tooltip text{
  font-weight: normal;
}

.y.axis path.domain{
  display: none;
}

.y.axis line{
  stroke-dasharray: 5 5;
}

.arrow_tooltip{
  position: absolute;  
}

.bar_txt_up,.bar_txt_2_up{
  fill: white;
}

.light .bar_txt_up{
  fill: #190430;
}

#mainchart svg{
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.header h2{
  font-size: 20px;
}

.light .header h2{
  color: #340667;
}

.light.widget{
    background-color: #FFFFFF;
    box-shadow: 0 18px 0 0 rgba(26,27,36,0.08);
    border: 1px solid #808187;
}

.light #period_span{
    color: #190430;    
}

.light .toolTip{
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(118,116,116,0.5);
}

.light .toolTip td{
  color: black;
}

.light .tooltip-label{
  color: #190430;
  opacity: .4;
}