.widget{
	background:#2C2D37;
  position: relative;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #295748;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: -4px;
  bottom: -4px;
  background-color: #24D17A;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #274B67;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color:#1F89DC;
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.clearfix{
	float: none;
	clear: both;
}

.toggle_btn_wrapper{
	float: right;
	display: flex;
	align-items: center;	
	padding-right: 20px;
}

.toggle_btn_wrapper label{
	margin: 10px 15px;
}

.widget{
	border-radius: 10px;
	padding:20px;
	color: #808187;
}

#period_date{
	margin-left: 15px;
}

.hide{
    display: none;
}

path{
	fill: none;
}

rect{
  fill: #353541;
}

.axis path{
  stroke:#3E3F49;
}
.axis text, .axis line{
  stroke: #72737A;
}

#period_span{
  color: #FBFBFB;
}

#sentiment_span.active{
  color: #24D17A;
}

#tweet_span.active{
  color:#1F88DA;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 15px sans-serif;
    padding: 10px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
}

.toolTip td{
  vertical-align: top;
}